.navbar{
 height: 60px;
 width: 100%;
 background-color: antiquewhite; 
 display: flex;
 justify-content: end;
}


.navbar>ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;    
    

}
.navbar>ul>li{
    padding: 20px 15px ;
}
.navbar>ul>li:hover{
    border: 1px solid rgb(236, 236, 147);
    background-color: cadetblue;
    height:30px;
    text-decoration: dashed;
    color:green;
    font-size: x-large;
    transition-duration: 500ms,30s,230ms;
}



.main-div{
    display:flex;
    justify-content: center;
    padding:0px 0px 0px 0px;
    text-align: center;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(212, 196, 175);
    border:2px solid black;
    margin: 10px;
    border-radius: 2%;

}
.card:hover{
    background-color: grey;
    color: white;
    transition-duration: 800ms;

}

.card>img{
    width:100%;
    height:200px;
}